<body style="background-color:#000000;">

<table style="width:1000px;background-color:#E25D33; margin-left:auto; margin-right:auto";>

  <tr>
    <td colspan=2 style="text-align:center; font-size:30pt; color:#DCD8CF">
      Newfoundland, Canada
    </td>
  </tr>

  <tr style="height:30px;">
     <td style="background-color:#282827;color:#DCD8CF; text-align:center; font-size:20pt; width:600px;">
      Port de Grave Boat Lighting
    </td>
    <td style="background-color:#282827;color:#DCD8CF; text-align:center;">
      <%= link_to 'Home', root_path , :style=>'color:#DCD8CF; text-decoration:none; font-size:14pt;'  %>
    </td>
  </tr>

  <tr style="height:30px;">
    <td colspan=2 style="background-color:#282827;color:#DCD8CF; text-align:center; font-size:20pt;">
      <%= image_tag "boats.png" %>
    </td>
  </tr>

  <tr style="height:30px;">
    <td colspan=2 style="background-color:#282827;color:#DCD8CF; text-align:center; font-size:15pt; width:650px;">
     <p>An Annual Boat Lighting and Carol Sing in Port de Grave, opens on the second Saturday of December at the Marginal Wharf. A visit from Santa, free hot chocolate for everyone! Visitors        are invited to come and bring a friend. Non-perishable food items will be accepted for the local food bank..</p>
    </td>

  </tr>

</table>
