<body style="background-color:#000000;">

<table style="width:1000px;background-color:#E25D33; margin-left:auto; margin-right:auto";>

  <tr>
    <td colspan=2 style="text-align:center; font-size:30pt; color:#DCD8CF">
      Newfoundland, Canada
    </td>
  </tr>

  <tr style="height:30px;">
     <td style="background-color:#282827;color:#DCD8CF; text-align:center; font-size:20pt; width:600px;">
      Welcome to our home!
    </td>
    <td style="background-color:#282827;color:#DCD8CF; text-align:center;">
      <%= link_to 'Special Events', about_path , :style=>'color:#DCD8CF; text-decoration:none; font-size:14pt;'  %>
    </td>
  </tr>

  <tr style="height:30px;">
    <td colspan=2 style="background-color:#282827;color:#DCD8CF; text-align:center; font-size:20pt;">
      <%= image_tag "scene.jpg" %>
    </td>
  </tr>

  <tr style="height:30px;">
    <td colspan=2 style="background-color:#282827;color:#DCD8CF; text-align:center; font-size:15pt; width:650px;">
     <p>Newfoundland is an island on the East Coast of Canada.  We are mostly of Irish, English, Scottish and Miq'maq descent.
       Our island is a collection of mountains, rivers and picturesque outports where the beauty will take your breath away.</p>
    </td>

  </tr>

</table>
